:root {
    --gradient: hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --pale-blue: rgb(221, 219, 255);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very--dark-blue: hsl(229, 57%, 11%);
    --body-font-size: 0.875rem;
    --big-fw: 700;
    --regular-fw: 400;
}

@font-face {
    font-family: Raleway;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    font-weight: 700;
    src: url(../fonts/Raleway-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--very--dark-blue)url(../images/bg-desktop.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    font-family: Raleway;
    font-size: var(--body-font-size);
    color: var(--pale-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

.container :is(.fylo, .storage) {
    background-color: var(--dark-blue);
}

.fylo {
    width: 40%;
    padding: 2.8rem;
    border-radius: .5rem 50% .5rem .5rem;
}

.fylo ul {
    list-style: none;
    width: 100%;
    display: flex;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    gap: .6rem;
}

.fylo ul li {
    border-radius: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--very--dark-blue);
}

.storage {
    width: 57%;
    border-radius: .5rem;
}

.div {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div::before {
    content: "";
    display: block;
    position: absolute;
    top: .8rem;
    right: 0;
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-top: 2rem solid var(--pale-blue);
}

.used {
    width: 100%;
    text-align: left;
}

.gb__left {
    position: absolute;
    height: fit-content;
    right: 0;
    top: -2.5rem;
    padding: 1rem;
    width: 38%;
    background-color: var(--pale-blue);
    border-radius: .8rem;
    z-index: 99;
}

.percentage {
    color: var(--very--dark-blue);
    font-size: 3rem;
}

.gb__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grayish-blue);
    font-weight: 700;
}

.progress {
    width: 100%;
    height: 1.4rem;
    border-radius: 1rem;
    border: 2px solid var(--very--dark-blue);
    background-color: var(--very--dark-blue);
    margin: 1rem 0;
}

.tracking {
    width: 80%;
    height: 100%;
    padding: 0.2rem;
    border-radius: inherit;
    background-image: linear-gradient(to right, var(--gradient));
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .circle {
        border-radius: 50%;
        background-color: var(--pale-blue);
        width: 3.2%;
        height: 95%;
    }
}

.gb__capacity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span,
.gb__capacity p {
    font-weight: var(--big-fw);
    line-height: 2rem;
}

@media (max-width : 1284px) and (min-width : 1059px) , (max-width : 849px) and (min-width : 500px)
{
    .tracking .circle{
        width: 4%;
    }
}

@media (max-width : 1344px) and (min-width : 1285px) {
    .gb__left {
        width: 35%;
    }

    .percentage {
        font-size: 2.7rem;
    }

    .gb__left p {
        font-size: .65rem;

    }
}

@media (max-width : 1284px) and (min-width : 1171px) {
    .gb__left {
        width: 36%;
    }

    .percentage {
        font-size: 2.49rem;
    }

    .gb__left p {
        font-size: .6rem;

    }
}

@media (max-width : 1170px) and (min-width : 1059px) {
    .gb__left {
        padding: 1rem .5rem;
    }

    .percentage {
        font-size: 2.4rem;
    }

    .gb__left p {
        font-size: .65rem;

    }
}

@media (max-width : 1058px) and (min-width : 850px) {
    .container {
        width: 85%;
    }

    .gb__left {
        width: 35%;
        padding: 1rem .5rem;
    }

    .percentage {
        font-size: 2.56rem;
    }

    .gb__left p {
        font-size: .68rem;
    }

    .tracking .circle {
        width: 3.8%;
    }
}

@media (max-width : 849px) and (min-width : 720px) {
    .container {
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .gb__left {
        width: 37%;
        padding: 1rem .4rem;
    }

    .percentage {
        font-size: 2.56rem;
    }

    .gb__left p {
        font-size: .68rem;

    }
}

@media (max-width : 719px) and (min-width : 621px) {
    .container {
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .fylo {
        width: 50%;
    }

    .storage {
        width: 80%;
    }

    .gb__left {
        padding: 1rem .7rem;
    }

}

@media (max-width : 620px) and (min-width : 500px) {
    .container {
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .fylo {
        width: 60%;
    }

    .storage {
        width: 90%;
    }

    .gb__left {
        padding: 1rem .7rem;
    }

    .percentage {
        font-size: 2.8rem;
    }

    .gb__left p {
        font-size: .7rem;

    }
}

@media (width <=499px) {
    body {
        background: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        width: 90%;
        height: 50vh;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    .fylo {
        width: 100%;
    }

    .div {
        padding-bottom: 3rem;
    }

    .storage {
        width: 100%;
    }

    .gb__left {
        width: 60%;
        padding: 1rem 1rem;
        top: 80%;
        right: auto;
        left: auto;
    }

    .percentage {
        font-size: 2.2rem;
    }

    .tracking {
        width: 70%;
    }

    .gb__left p {
        font-size: .7rem;

    }

    .div::before {
        display: none;
    }

    .tracking .circle {
        width: 6.5%;
    }
}